<p id="notice"><%= notice %></p>

<div id="main-content" class="container-fluid">
	<div class="container">
    <div class="col-md-12">
      <h2><%= @video.title %></h2>
      <iframe width="100%" height="500" src="http://www.youtube.com/embed/<%= @video.url %>" allowfullscreen></iframe>
    </div>
    <div class="col-md-12">
      <div id="video-info" class="well">
        <ul class="stats-summary pull-left">
          <li>
            <i class="fa fa-comment"></i> 
            <span id="commentsCount">0</span>
          </li>
          <li>
            <%= link_to like_video_path(@video), id: "favorite_video", data: { placement: "bottom" }, method: :put, remote: :true do %>
              <i class="fa fa-heart"></i>
              <span class="favorites-count">
              	<%= @video.get_upvotes.size %>
            	</span>
            <% end %>
          </li>
          <li>
            <i class="fa fa-eye"></i> 
            <%= @video.impressionist_count(filter: :session_hash, filter: :ip_address) %>
          </li>
        </ul>
        <div class="pull-right">            
          Created by 
          <a href="http://learn-party.herokuapp.com/users/32"> john</a>
          <span class="incognito-text"><%= time_ago_in_words(@video.updated_at) %></span>
        </div>
      </div>
    </div>

    <!-- category -->
    <div class="col-md-3">
      <div id="video-tags" class="well">
      	<% @video.tag_list.each do |tag| %>
      		<span class="badge">
	      		<%= link_to tag, tag_path(tag) %>
	      	</span>
      	<% end %>
      </div>
    </div>

    <!-- description -->
    <div class="col-md-9">
      <div id="video-description" class="well">
        <p><%= @video.title %> description</p>
        <p><%= raw @video.tag_list.map{ |tag| link_to tag, tag_path(tag) }.join(', ') %></p>
        <p><%= @video.description %></p>
      </div>
    </div>

    <!-- comments -->
    <div class="col-md-12">
      <div class="row">
        <ul class="nav nav-tabs" role="tablist" id="comment-section">
          <li class="active">
          	<a href="#all-comments" role="tab" data-toggle="tab">Comments</a>
          </li>
          <li>
          	<% if user_signed_in? %>
          		<a href="#new-comment" role="tab" data-toggle="tab">Add comment</a>
          	<% end %>
          </li>              
        </ul>
        <div id="commentSection" class="tab-content">
          <div class="tab-pane active" id="all-comments">
            <ul class="media-list">
							<%= render partial: 'comment' %>
            </ul>
          </div>

					<!-- add comment -->
          <% if user_signed_in? %>  
	          <div class="tab-pane" id="new-comment">
	            <div id="feedback">
	              <div class="alert alert-danger alert-dismissible" role="alert" style="display: none;">
	                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                	<span aria-hidden="true">×</span>
	                </button>
	                Error. No comment provided or error processing request. Please try again.
	              </div>
	            </div>
              <%= render partial: 'comments/form' %>
	          </div>
            <% end %>

          </div>
        </div>
      </div>
  </div>
</div>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>