<div id="landing-page" class="text-center">
  <section class="landing-page-title">
    <h1>Welcome to the <strong class="site-highlight">Learn Party</strong></h1>
    <h2>Get the best learning materials online. <strong class="site-highlight">On Demand. </strong></h2>
    <hr>
    <div class="landing-page-call-to-action">
      <% if user_signed_in? %>
        <%= link_to 'ADD NEW VIDEO', new_video_path, class: "btn btn-default" %>
        <%= link_to 'VIEW MY PROFILE', profile_index_path, class: "btn btn-success" %>

      <% else %>
      	<%= link_to 'LOGIN', new_user_session_path,class: "btn btn-default"  %>
      	<%= link_to 'REGISTER', new_user_registration_path, class: "btn btn-success" %>
      <% end %>
    </div>
  </section>
  <a href="#main-content" id="scroll-to-content"><i class="fa fa-chevron-circle-down"></i></a>
</div>

<div id="main-content" class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Videos By Category</h3>
            </div>
            <div class="panel-body popular-videos">
              <span class="badge"><%= link_to 'All', videos_path %></span>
              <span class="badge">
              	<a href="#">pop</a>
            	</span>
            </div>
          </div>
        </div>
          <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Popular - Most Viewed</h3>
                  </div>
                  <div class="panel-body popular-videos">
                      <h5 class="top-videos">
                      <i class="fa fa-youtube-play"></i>
                      <a href="#">Classic Man </a>
                      <span class="incognito-text">(88)</span>
                  </h5>
                      <h5 class="top-videos">
                      <i class="fa fa-youtube-play"></i>
                      <a href="#">Little Bit More </a>
                      <span class="incognito-text">(80)</span>
                  </h5>
                      <h5 class="top-videos">
                      <i class="fa fa-youtube-play"></i>
                      <a href="#">afsds </a>
                      <span class="incognito-text">(44)</span>
                  </h5>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Popular - Most Liked</h3>
                  </div>
                  <div class="panel-body popular-videos">
                      <h5 class="top-videos">
                      <i class="fa fa-youtube-play"></i>
                      <a href="#">ljljlj </a>
                      <span class="incognito-text">(1)</span>
                  </h5>
                      <h5 class="top-videos">
                      <i class="fa fa-youtube-play"></i>
                      <a href="#">Little Bit More </a>
                      <span class="incognito-text">(1)</span>
                  </h5>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Popular - Most commented on</h3>
                  </div>
                  <div class="panel-body popular-videos">
                      <h5 class="top-videos">
                      <i class="fa fa-youtube-play"></i>
                      <a href="#">ljljlj </a>
                      <span class="incognito-text">(1)</span>
                  </h5>
                      <h5 class="top-videos">
                      <i class="fa fa-youtube-play"></i>
                      <a href="#">Little Bit More </a>
                      <span class="incognito-text">(1)</span>
                  </h5>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Top video publishers</h3>
                  </div>
                  <div class="panel-body popular-videos"> <span class="badge">
                          <a href="#">John Kariuki</a>
                          <span class="incognito-text">(1)</span>
                      </span> <span class="badge">
                          <a href="#">john</a>
                          <span class="incognito-text">(1)</span>
                      </span> <span class="badge">
                          <a href="#">tyler malin</a>
                          <span class="incognito-text">(1)</span>
                      </span> <span class="badge">
                          <a href="#">victor mutai</a>
                          <span class="incognito-text">(1)</span>
                      </span> <span class="badge">
                          <a href="#">Fayez Mubarqui</a>
                          <span class="incognito-text">(1)</span>
                      </span>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-9">
        <div id="video-library">
          <div class="row">
            <% @recent_videos.each do |recent_video| %>
              <div class="col-sm-4 col-md-4">
                <%= link_to recent_video do %>
                  <img class="video-iframe" src="http://img.youtube.com/vi/<%= recent_video.url %>/0.jpg" allowfullscreen="">
                <% end %>
                <section class="video">
                  <div class="title">
                    <h4>
                      <%= link_to recent_video.title, recent_video %>
                    </h4>
                  </div>
                    <p><%= recent_video.description %></p>
                </section>
              </div>
            <% end %>
          </div>
          <div class="row">
            <% @most_viewed_videos.each do |most_viewed_video| %>
              <div class="col-sm-4 col-md-4">
                <%= link_to most_viewed_video do %>
                  <img class="video-iframe" src="http://img.youtube.com/vi/<%= most_viewed_video.url %>/0.jpg" allowfullscreen="">
                <% end %>
                <section class="video">
                  <div class="title">
                    <h4>
                      <%= link_to most_viewed_video.title, most_viewed_video %>
                    </h4>
                  </div>
                    <p><%= most_viewed_video.description %></p>
                </section>
              </div>
            <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>