<!DOCTYPE html>
<html>
  <head>
    <title>Learn Party</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="app-layout">
  	<nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">

          <!-- Collapsed Hamburger -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>

          <!-- Branding Image -->
          <%= link_to 'Learn Party', root_path, class: "navbar-brand" %>
        </div>

        <div class="collapse navbar-collapse" id="app-navbar-collapse">
          <!-- Right Side Of Navbar -->
          <ul class="nav navbar-nav navbar-right">
              <!-- Authentication Links -->
              <% if user_signed_in? %>
                <li id="user-avatar">
                  <%= link_to profile_index_path do %>
                    <%= image_tag(current_user.avatar_url(:thumbnail), class: "img-circle") %>
                  <% end %>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <%= current_user.name || current_user.email %> <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <%= link_to profile_index_path do %>
                          <i class="fa fa-btn fa-user"></i> <%= current_user.name || current_user.email %>'s profile
                      <% end %>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <%= link_to uploads_profile_index_path do %>
                        <i class="fa fa-btn fa-dashboard"></i> Dashboard
                      <% end %>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <%= link_to destroy_user_session_path, method: :delete do %>
                        <i class="fa fa-btn fa-power-off"></i> Logout
                      <% end %>
                    </li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to 'login', new_user_session_path %></li>
                <li><%= link_to 'Register', new_user_registration_path %></li>
              <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>

    <div id="footer">
      <strong>Made with <i class="fa fa-heart"></i>
      <span class="incognito-text">By</span> <a href="https://github.com/victorjambo" target="_blank">VM</a></strong>
      <span class="pull-right">
        <strong> #TIA 2017</strong>
      </span>
    </div>

    <!-- JavaScripts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
